# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scipy

# tests/linter
black
coverage
flake8
pytest
yapf

# API
s3fs
requests

# utilities
six>=1.14
joblib
memoized-property
termcolor
datetime
python-dotenv

#WEB
streamlit
folium
streamlit_folium

#PLOT
matplotlib
seaborn

